name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    env:
      NUGET_KEY: ${{secrets.NUGET_API_SECRET}}
      Solution_Path: Rapi2.sln
      Configuration: Release
      RuntimeIdentifier: win-x86
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    - name: WarrenBuckly
      uses: warrenbuckley/Setup-MSBuild@v1
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.1
    #- name: Build Rapi2
    #  run: msbuild $env:Solution_Path /t:Restore /p:Configuration=$env:Configuration /p:RuntimeIdentifier=$env:RuntimeIdentifier
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish Nuget
      uses: brandedoutcast/publish-nuget@v2.5.5
      with:
        PROJECT_FILE_PATH: Rapi2/Rapi2.csproj
        NUGET_KEY: $env.NUGET_KEY
